<!DOCTYPE HTML>
{% extends "login/base.html" %}

{% block title %} 지하수 열원 냉난방 시스템 - 로그인 성공{% endblock %}
{% block content %}
{# <p style="margin: 250px 0 0 400px;">로그인 성공</p> #}

<script type="text/javascript">
$.get("/monitor/", function(data) {
	alert(" 로그인 성공");
	$('body').html(data)
});


// var reloadTime = 1000;
// window.onload = $.fn.reloadFunc = function() {
// 	var reloadVar = setTimeout(reload, reloadTime);
// }
// function reload(){
// 	$.ajax({
// 		url: "/monitor/",
// 		type: "POST",
// 		data : {
// 			'csrfmiddlewaretoken': '{{ csrf_token }}',
// 		},
// 		success: function(data){
// 			// $('head').append(
// 			// 	'<link rel="stylesheet" href="static/monitor/index.css" type="text/css">'
// 			// 	);
// 			$('body').html(data);
// 		}
// 	});
// 	return false;
// }
</script>

{% endblock %}

