{% load staticfiles %}
<!DOCTYPE HTML><!--  PUBLIC "-//W3C//DTD HTML 4.01//EN" -->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static "monitor/index.css" %}" type="text/css">
	{% block header %}{% endblock %}
	<script type="text/javascript">
	{% block script %}{% endblock %}
	</script>
    	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}
</body>
</html>
