{% load staticfiles %}
<!DOCTYPE HTML>

<div>
	<p class="alignleft mode">Mode: floor</p>
	<div class="alignright" id="div-btn-mode">
		<button type="button" class="btn btn-default btn-mode">Manual</button>
		<button type="button" class="btn btn-default btn-mode">Auto</button>
	</div>
</div>

<img src="{% static "monitor/floor_background.jpg" %}" width="100%" style="" alt="floor 1"/>
<nav class="navbar navbar-default navbar-fixed-bottom navbar-floor">
	<div class="navbar-floor">
		{# <a style='color:purple;'> 1 </a> #}
		{# <a href="#"> 2 </a> #}
		{# <a href="#"> 3 </a> #}
		{# <a href="#"> 4 </a> #}
	</div>
</nav>

<script>
	$('.btn-mode').on('click', function setMode(){
		var mode = this.innerText;
		$.ajax({
			url: "/monitor/ajax_set_operation_mode/",
			type: "POST",
			data: {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
				'mode': mode,
			},
			success: function(data){
				$('.mode').text('Mode: ' + data.mode);
			}
		});
		return false;
	});
</script>
