{% load staticfiles %}
<!DOCTYPE HTML>


<p  style="margin-top:10px;" class="alignleft opMode">Mode: floor</p>
<div class="alignright" id="div-btn-opMode">
	<button type="button" class="btn btn-default btn-opMode">Manual</button>
	<button type="button" class="btn btn-default btn-opMode">Auto</button>
</div>


{# <img src="{% static "monitor/floor_background.jpg" %}" width="100%" style="" alt="floor 1"/> #}
<nav class="navbar navbar-default navbar-fixed-bottom navbar-floor">
	<div class="navbar-floor">
		{# <a style='color:purple;'> 1 </a> #}
		{# <a href="#"> 2 </a> #}
		{# <a href="#"> 3 </a> #}
		{# <a href="#"> 4 </a> #}
	</div>
</nav>

