<!DOCTYPE HTML>
{% extends "base.html" %}

{% block script %}
<script type="text/javascript">

$(window).load( function () {

// ajax 자동수동
$('.btn-opMode').on('click', function setMode(){
	var opMode = this.innerText;
	$.ajax({
		url: "/monitor/ajax_set_operation_mode/",
		type: "POST",
		data: {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'opMode': opMode,
		},
		success: function(data){
			$('.opMode').text(data.opMode + ' 모드');
		}
	});
	return false;
});


// ajax 스위치 on/off
$('.control').on('click', function toggleStatus(){
	var id = this.id;
	var status = '';

	if($(this).text()=== "OFF"){
		$(this).text("ON"); status='ON';
		$(this).removeClass('status-off');
		$(this).addClass('status-on');
	} else if($(this).text()==="ON"){
		$(this).text("OFF"); status='OFF';
		$(this).removeClass('status-on');
		$(this).addClass('status-off');
	} else {
		status = 'N/A';
	}

	var tempMode = $('.sys-selected').first().text();
	var opMode = $('.sys-selected').last().text();
	$.ajax({
		url: "/monitor/ajax_toggle_switch/",
		type: "POST",
		data: {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'id': id,
			'status': status,
			'tempMode': tempMode,
			'opMode': opMode,
		},
		success: function(data) {
			$("#right-log").html(data);
		}
	});
	return false;
});




// end window.load
});
</script>
{% endblock %}

{% block title %}지하수 열원 냉난방 시스템{% endblock %}

{% block content %}
	<div class="container">
		{# <div class="nav"> #}
			{# {% include "navbar.html" %} #}
		{# </div> #}
		<iframe marginheight="0" marginwidth="0" frameborder="0" src="monitor/specs/" id="spec-frame" border="0" scrolling="no" style="background-color: transparent; z-index:124124; position:fixed; overflow: hidden; top:0px; right:0px; bottom:0px; left:0px; margin:0px; padding:0px; width:100%; height:100%; border:none; opacity:1;"></iframe>
		<div class="left" id="left">
			{% include "left.html" %}
		</div>
		<div class="right">
			<div class="right-floor">
				{% include "floor.html" %}
			</div>
			<div class="right-log" id="right-log">
				{% include "log.html" %}
			</div>
		</div>
	</div>
{% endblock %}
