<!DOCTYPE HTML>

<div class="left-header">
	{% include "navbar.html" %}
	
</div>

<div class="first">
{% for pump in heat_pump %}
<table class="left-table heat-pump">
	<thead>
		<tr><td colspan="2">
			<b><a class="device" id="hp{{ forloop.counter }}">히트 펌프 {{ forloop.counter }} <br>model number</a></b>
		</td></tr>
	</thead>
	<tbody>
		<tr>
			<td class="table-title">상태</td>
			<td class="table-value">
				<button class="btn btn-default btn-xs hp-status" id="hp{{ forloop.counter }}-status">{{ pump.switch }}</button>
			</td>
		</tr>
		<tr>
			<td class="table-title">IN</td>
			<td class="table-value">{{ pump.tempIn }}  °C</td>
		</tr>
		<tr>
			<td class="table-title">OUT</td>
			<td class="table-value">{{ pump.tempOut }}  °C</td>
		</tr>
	</tbody>
</table>
{% endfor %}
</div>

<div class="second">
<table class="left-table circulating-pump">
	<thead>
		<tr><td colspan="2">
			<b><a class="device" id="cp">순환 펌프</a></b>
		</td></tr>
	</thead>
	<tbody>
		<tr>
			<td class="table-title">No.</td>
			<td class="table-value">{{ circulating_pump.get_CPID_display }}</td>
		</tr>
		<tr>
			<td class="table-title">상태</td>
			<td class="table-value">
				<button class="btn btn-default btn-xs btn-status control" id="cp{{ circulating_pump.CPID }}-status">{{ circulating_pump.switch }}</button>
			</td>
		</tr>
		<tr>
			<td class="table-title">회전수</td>
			<td class="table-value">{{ inverter.RPM }} RPM</td>
		</tr>
		<tr>
			<td class="table-title">주파수</td>
			<td class="table-value">{{ inverter.Hz }} Hz</td>
		</tr>
</table>
</div>
<div class="sec-2">
<table class="left-table flowmeter">
	<thead>
		<tr><td colspan="2">
			<a class="device" id="cpfm"><b>유량계</b></a>
		</td></tr>
	</thead>
	<tbody>
		<tr>
			<td class="table-title">온도</td>
			<td class="table-value">{{ DWPFM.temperature|floatformat:1 }} °C</td>
		</tr>
		<tr>
			<td class="table-title">순시 유량</td>
			<td class="table-value">{{ DWPFM.currentFlux }} LPM</td>
		</tr>
		<tr>
			<td class="table-title">적산 유량</td>
			<td class="table-value">{{ DWPFM.integralFlux }} LPM</td>
		</tr>
	</tbody>
</table>
</div>
<div class="sec-3">
<table class="left-table heat-exchanger">
	<thead>
		<tr><td colspan="2">
			<a class="device" id="he"><b>열교환기</b></a>
		</td></tr>
	</thead>
	<tbody>
		<tr><td colspan="2">온도</td></tr>
		<tr>
			<td class="table-title">IN 1</td>
			<td class="table-value">{{ temp_HEIn1.temperature|floatformat:1 }} °C</td>
		</tr>
		<tr>
			<td class="table-title">OUT 1</td>
			<td class="table-value">{{ temp_HEOut1.temperature|floatformat:1 }} °C</td>
		</tr>
		<tr>
			<td class="table-title">IN 2</td>
			<td class="table-value">{{ temp_HEIn2.temperature|floatformat:1 }} °C</td>
		</tr>
		<tr>
			<td class="table-title">OUT 2</td>
			<td class="table-value">{{ temp_HEOut2.temperature|floatformat:1 }} °C</td>
		</tr>
	</tbody>
</table>
</div>

<div class="third">
{% for pump in DWP %}
<table class="table left-table deepwell-pump">
	<thead>
		<tr><td colspan="2">
			<a class="device" id="dwp{{ forloop.counter }}"><b>심정 펌프 {{ forloop.counter }}</b></a>
		</td></tr>
	</thead>
	<tbody>
		<tr>
			<td class="table-title">상태</td>
			<td class="table-value">
				<button class="btn btn-default btn-xs btn-status control" id="dwp{{ forloop.counter }}-status">{{ pump.switch }}</button>
			</td>
		</tr>
		<tr>
			<td class="table-title">모드</td>
			<td class="table-value">{{ pump.get_opMode_display }}</td>
		</tr>
		<tr>
			<td class="table-title">수위</td>
			<td class="table-value">{{ pump.get_waterLevel_display }}</td>
		</tr>
	</tbody>
</table>
<table class="table left-table tubular">
	<thead>
		<tr><td colspan="2">
			<a class="device" id="tub"><b>관정 센서 {{ forloop.counter }}</b></a>
		</td></tr>
	</thead>
	<tbody>
		<tr>
			<td class="table-title">상태</td>
			<td class="table-value"></td>
		</tr>
		<tr>
			<td class="table-title">수위</td>
			<td class="table-value"></td>
		</tr>
		<tr>
			<td class="table-title">수온</td>
			<td class="table-value"></td>
		</tr>
	</tbody>
</table>
{% endfor %}

<table class="table left-table power">
	<thead>
		<tr><td colspan="2">
			<a class="device" id="power"><b>전력량</b></a>
		</td></tr>
	</thead>
	<tbody>
		<tr>
			<td class="table-title">순시 전력</td>
			<td class="table-value">{{ power.currentPowerConsumption }} kWh</td>
		</tr>
		<tr>
			<td class="table-title">적산 전력</td>
			<td class="table-value">{{ power.integralPowerConsumption }} kWh</td>
		</tr>
	</tbody>
</table>
</div>
