<!DOCTYPE HTML>
{# <p id="logid"><b>log</b></p> #}
<table class="table table-hover">
	<tr>
		<td>No.</td>
		<td style='text-align:left;'>Location</td>
		<td>Switch</td>
		<td>Time</td>
	</tr>
	{% for data in single_data_list %}
	<tr>	
		<td>{{ data.id }}</td>
		<td style='text-align:left;'>{{ data.get_location_display }}</td>
		<td>{{ data.switch }}</td>
		<td>{{ data.dateTime|date:'Y-m-d H:i' }}</td>
	</tr>
	{% endfor %}
</table>
<div class="text-center">
	<ul class="pagination">
		<li><a href="" aria-label="Previous" class="page_index" id="prev">
			<span aria-hidden="true">&laquo;</span>
		</a></li>
		{% for i in page_no %}
			<li><a href="" class="page_index" id="{{ i }}">{{ i }}</a></li>
		{% endfor %}
		<li><a href="" aria-label="Next" class="page_index" id="next">
			<span aria-hidden="true">&raquo;</span>
		</a></li>
	</ul>
</div>
