<!DOCTYPE HTML>
<button class="btn btn-default alignleft btn-coolMode control" id="cl-status" style="margin-right: 4px;">냉방</button>
<button class="btn btn-default alignleft btn-heatMode control" id="ht-status">난방</button>
<h4 id="title" style="display: inline;"><b>지하수 열원 냉난방 시스템</b></h3>
<p style="display: inline;">최종 업데이트 : {{ switch_logs.0.dateTime|date:'Y-m-d H:i' }}</p>
<button class="btn btn-default alignright btn-opMode btn-manual control" id="mn-status">수동</button>
<button class="btn btn-default alignright btn-opMode btn-auto control" id="at-status" style="margin-right: 4px;">자동</button>
