{% load staticfiles %}
<!DOCTYPE HTML>
<p style="text-align: center;"><b>실내기 상태 정보</b></p>
<div class="unit-info">
	<table class="table ciu" >
		<thead>
			<tr>
				<td>No.</td>
				<td>전원</td>
				<td>실내 온도</td>
				<td>희망 온도</td>
				<td>운전 모드</td>
				<td>풍속</td>
				<td>상태</td>
			</tr>
		</thead>
		<tbody>
			{% for u in us %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ u.switch }}</td>
				<td>{{ u.temperature }}</td>
				<td>{{ u.setTemp }}</td>
				<td>{{ u.opMode }}</td>
				<td>{{ u.airFlow }}</td>
				<td>{{ u.state }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="slider">
	<div class="floor-nav" >
	<li><a class="fl-selected" id="1">1층</a></li>
	<li><a id="2">2층</a></li>
	<li><a id="3">3층</a></li>
	</div>
</div>

<script type="text/javascript">
// 실내기 그림 표시
// 1층
$('.floor-nav > li > a').on('click', function () {
	var floor = this.id;

	$.ajax({
		url: "/monitor/ajax_floor_change/",
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'floor': floor,
		},
		success: function(data){
			$("#right-floor").html(data);
			$('.fl-selected').removeClass('fl-selected');
			$('.floor-nav').find('#'+floor).addClass('fl-selected');
		}
	});
	return false;
});
// // 2층
// $('#floor2-nav').on('click', function () {
// 	$('.slides').find('li').css('display', 'none');
// 	$('#floor2').css('display', 'list-item')
// });
// // 3층
// $('#floor3-nav').on('click', function () {
// 	$('.slides').find('li').css('display', 'none');
// 	$('#floor3').css('display', 'list-item')
// });
</script>
