<!DOCTYPE HTML>
{% extends "monitor/base.html" %}

{% block script %}
<script type="text/javascript">
// 초기 세팅
$('#cl-status').addClass('sys-selected');
$('#at-status').addClass('sys-selected');
// 자동 모드 - 버튼 비활성화
$('.btn-status').attr('disabled', true);
$('.btn-status').removeClass('btn-default');



var displayTime = 5000;
var saveTime = 60000;
var displayVar = setTimeout(function(){reloadDisplay();}, displayTime);
// var saveVar = setTimeout(function(){reloadData();}, saveTime);
function reloadDisplay() {
	var opMode = $('.sys-selected').last().text();
	// console.log(opMode);
	if(opMode == '자동') {
		opMode = 'AT';
	} else {
		opMode = 'MN';
	}
	// console.log(opMode);
	$.ajax({
		url: "/monitor/ajax_reload_display/",
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'op_mode': opMode,
		},
		success: function(data){
			$('.container').html(data);
			setTimeout(function(){reloadDisplay();}, displayTime);
			if(opMode == 'AT'){
				$('#at-status').addClass('sys-selected');
				$('.btn-status').attr('disabled', true);
				$('.btn-status').removeClass('btn-default');
			} else {
				$('#mn-status').addClass('sys-selected');
				$('.btn-status').removeAttr('disabled');
				$('.btn-status').addClass('btn-default');
			}
		},
	}).fail(function() {
		alert("reload display error");
	});
	return false;
}
function reloadData () {
	$.ajax({
		url: "/monitor/ajax_reload_data/",
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			$(".container").html(data);
			setTimeout(function(){reloadData();}, saveTime);
		}
	}).fail(function() {
		alert("reload data error");
	});
	return false;
}
</script>
{% endblock %}

{% block title %}지하수 열원 냉난방 시스템{% endblock %}

{% block content %}
	<iframe marginheight="0" marginwidth="0" frameborder="0" src="monitor/specs/" id="spec-frame" border="0" scrolling="yes" style="background-color: transparent; z-index:124124; position:fixed; overflow: hidden; top:0px; right:0px; bottom:0px; left:0px; margin:0px; padding:0px; width:100%; height:100%; border:none; opacity:1;"></iframe>
	<div class="container">
		{% include "monitor/container.html" %}
	</div>
{% endblock %}
