<!DOCTYPE HTML>
{% extends "monitor/base.html" %}

{% block script %}
<script type="text/javascript">
// 센서값 reload, 데이터 저장은 하지 않음. 
var displayTime = 5000;
var saveTime = 60000;
var count = 0;
$(function() {
	if(count == 0) {
		// setInterval(reloadDisplay, displayTime);
		// setInterval(reloadData, saveTime);	
		count++;
	} else {
		return;
	}
});
function reloadDisplay () {
	$.ajax({
		url: "/monitor/ajax_reload_display/",
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			// alert("reload display")
			$("#left").html(data);
		}
	});
	return false;
}
function reloadData () {
	$.ajax({
		url: "/monitor/ajax_reload_data/",
		type: "POST",
		data : {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},
		success: function(data){
			// alert("reload data")
			$("#left").html(data);
		}
	});
	return false;
}
</script>
{% endblock %}

{% block title %}지하수 열원 냉난방 시스템{% endblock %}

{% block content %}
	<div class="container">
		{# <div class="nav"> #}
			{# {% include "navbar.html" %} #}
		{# </div> #}
		<iframe marginheight="0" marginwidth="0" frameborder="0" src="monitor/specs/" id="spec-frame" border="0" scrolling="yes" style="background-color: transparent; z-index:124124; position:fixed; overflow: hidden; top:0px; right:0px; bottom:0px; left:0px; margin:0px; padding:0px; width:100%; height:100%; border:none; opacity:1;"></iframe>
		<div class="left" id="left">
			{% include "monitor/left.html" %}
		</div>
		<div class="right">
			<div class="right-floor">
				{% include "monitor/floor.html" %}
			</div>
			<div class="right-log" id="right-log">
				{% include "monitor/log.html" %}
			</div>
		</div>
	</div>
{% endblock %}
