<!DOCTYPE HTML>

<div class="left-header">
	{% include "monitor/navbar.html" %}
	
</div>
{# {{ rt.RT }} {{ op_mode }} {{ temp_mode }} #} {{ setcp }}
<div class="first">
{% for pump in heat_pump %}
<table class="left-table heat-pump">
	<thead>
		<tr><td colspan="2">
			<b><a class="device" id="hp{{ forloop.counter }}">히트 펌프 {{ forloop.counter }} <br>model number</a></b>
		</td></tr>
	</thead>
	<tbody>
		<tr>
			<td class="table-title">상태</td>
			<td class="table-value">
				<button class="btn btn-default btn-xs hp-status" id="hp{{ forloop.counter }}-status">{{ pump.switch }}</button>
			</td>
		</tr>
		<tr>
			<td class="table-title">IN</td>
			<td class="table-value">{{ pump.tempIn|floatformat:1 }}  °C</td>
		</tr>
		<tr>
			<td class="table-title">OUT</td>
			<td class="table-value">{{ pump.tempOut|floatformat:1 }}  °C</td>
		</tr>
	</tbody>
</table>
{% endfor %}
</div>

<div class="sec-1">
	<table class="left-table circulating-pump">
		<thead>
			<tr><td colspan="2">
				<b><a class="device" id="cp">순환 펌프 {{ circulating_pump.get_CPID_display }}
				</a></b>
				<button class="btn btn-default" id="cp-setting" style="float:right; padding:2px 6px;">설정</button>
			</td></tr>
		</thead>
		<tbody>
			<tr>
				<td class="table-title">상태</td>
				<td class="table-value">
					<button class="btn btn-default btn-xs btn-status control" id="cp{{ circulating_pump.get_CPID_display }}-status">{{ circulating_pump.switch }}</button>
				</td>
			</tr>
			<tr>
				<td class="table-title">회전수</td>
				<td class="table-value">{{ circulating_pump.Hz }} Hz</td>
			</tr>
			<tr>
				<td class="table-title">유량</td>
				<td class="table-value">{{ circulating_pump.Flux }} LPM</td>
			</tr>
	</table>
</div>
<div class="sec-2">
	<table class="left-table flowmeter">
		<tbody>
			<tr>
				<td colspan="2">
				<a class="device" id="cpfm"><b>유량계</b></a>
				</td>
				<td class="table-title">수온</td>
				<td class="table-value">{{ temp_HEOut1.temperature|floatformat:1 }} °C</td>
			</tr>
			<tr>
				<td class="table-title">순시 유량</td>
				<td class="table-value">{{ CPFM.currentFlux }} LPM</td>
				<td class="table-title">적산 유량</td>
				<td class="table-value">{{ CPFM.integralFlux }} ton/hr</td>
			</tr>
			<tr>
				<td class="table-title">내부 온도</td>
				<td class="table-value">{{ CPFM.temperature|floatformat:1 }} °C</td>
				<td class="table-title">유속</td>
				<td class="table-value">{{ CPFM.velocity }} m/s</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="sec-3">
<table class="left-table heat-exchanger-in1">
	<tbody>
		<tr>
			<td class="table-title">수온</td>
			<td class="table-value">{{ temp_HEIn1.temperature|floatformat:1 }} °C</td>
		</tr>
	</tbody>
</table>
</div>

<div class="third-1">
	<table class="left-table flowmeter">
		<tbody>
			<tr>
				<td colspan="2">
				<a class="device" id="dwpfm"><b>유량계</b></a>
				</td>
				<td class="table-title">수온</td>
				<td class="table-value">{{ temp_HEOut2.temperature|floatformat:1 }} °C</td>
			</tr>
			<tr>
				<td class="table-title">순시 유량</td>
				<td class="table-value">{{ DWPFM.currentFlux }} LPM</td>
				<td class="table-title">적산 유량</td>
				<td class="table-value">{{ DWPFM.integralFlux }} ton/hr</td>
			</tr>
			<tr>
				<td class="table-title">내부 온도</td>
				<td class="table-value">{{ DWPFM.temperature|floatformat:1 }} °C</td>
				<td class="table-title">유속</td>
				<td class="table-value">{{ DWPFM.velocity }} m/s</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="third-2">
	<table class="left-table heat-exchanger-in2">
		<tbody>
			<tr>
				<td class="table-title">수온</td>
				<td class="table-value">{{ temp_HEIn2.temperature|floatformat:1 }} °C</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="fourth-1">
	{% for pump in DWP %}
	<table class="left-table deepwell-pump">
		<thead>
			<tr><td colspan="2">
				<a class="device" id="dwp{{ forloop.counter }}"><b>심정 펌프 {{ forloop.counter }}</b></a>
			</td></tr>
		</thead>
		<tbody>
			<tr>
				<td class="table-title">상태</td>
				<td class="table-value">
					<button class="btn btn-default btn-xs btn-status control" id="dwp{{ forloop.counter }}-status">{{ pump.switch }}</button>
				</td>
			</tr>
			<tr>
				<td class="table-title">수위</td>
				<td class="table-value">{{ pump.get_waterLevel_display }}</td>
			</tr>
			<tr>
				<td class="table-title">수온</td>
				<td class="table-value"></td>
			</tr>
		</tbody>
	</table>
	{% endfor %}
</div>
<div class="fourth-2">
	<table class="left-table rt">
		<tbody>
			<tr>
				<td class="table-title">RT</td>
				<td class="table-value">{{ rt.RT }}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="fourth-3">
	<table class="left-table power">
		<tbody>
			<tr>
				<td class="table-title">순시 전력</td>
				<td class="table-value">{{ power.currentPowerConsumption }} W</td>
			</tr>
			<tr>
				<td class="table-title">적산 전력</td>
				<td class="table-value">{{ power.integralPowerConsumption }} kWh</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">

// ajax 자동수동
$('.btn-opMode').on('click', function setMode(){
	var opMode = this.innerText;
	$.ajax({
		url: "/monitor/ajax_set_operation_mode/",
		type: "POST",
		data: {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'opMode': opMode,
		},
		success: function(data){
			$('.opMode').text(data.opMode + ' 모드');
		}
	});
	return false;
});


// ajax 스위치 on/off
$('.control').on('click', function toggleStatus(){
	var id = this.id;
	var status = '';

	if($(this).text()=== "OFF"){
		$(this).text("ON"); status='ON';
		$(this).removeClass('status-off');
		$(this).addClass('status-on');
	} else if($(this).text()==="ON"){
		$(this).text("OFF"); status='OFF';
		$(this).removeClass('status-on');
		$(this).addClass('status-off');
	} else {
		status = 'N/A';
	}

	var opMode = $('.sys-selected').last().text();
	// console.log(opMode);
	var tempMode = $('.sys-selected').first().text();
	// console.log(tempMode);
	// if(opMode == '자동') {
	// 	opMode = 'AT';
	// } else {
	// 	opMode = 'MN';
	// }
	// if(tempMode == '냉방') {
	// 	tempMode = 'CL';
	// } else {
	// 	tempMode = 'HT';
	// }
	// console.log(opMode);
	// console.log(tempMode);
	$.ajax({
		url: "/monitor/ajax_toggle_switch/",
		type: "POST",
		data: {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'id': id,
			'status': status,
			'tempMode': tempMode,
			'opMode': opMode,
			'flag': 1,
		},
		success: function(data) {
			$('#right-log').html(data);
		}
	});
	return false;
});

// end of ajax



// 초기 세팅
var btns = $('.btn-status');
$.each(btns, function(i, val) {
	// alert(val.value);
	if(val.innerText === "OFF") {
		$(this).removeClass('status-on');
		$(this).addClass('status-off');
	} else if (val.innerText === "ON") {
		$(this).removeClass('status-off');
		$(this).addClass('status-on');
	}
});
$.each($('.hp-status'), function(i, val) {
	if(val.innerText === "OFF"){
		$(this).removeClass('status-on');
		$(this).addClass('status-off');
	} else {
		$(this).removeClass('status-off');
		$(this).addClass('status-on');
	}
	$(this).attr('disabled', true);
	$('.hp-status').removeClass('btn-default');
});



// 냉방 버튼 클릭
$('.btn-coolMode').on('click', function setCoolImg(){
	$('.btn-heatMode').removeClass('sys-selected');
	$('.btn-coolMode').addClass('sys-selected');
	$('#left').css("background-image", "url(/static/monitor/cooling.jpg)");
});
// 난방 버튼 클릭
$('.btn-heatMode').on('click', function setHeatImg(){
	$('.btn-coolMode').removeClass('sys-selected');
	$('.btn-heatMode').addClass('sys-selected');
	$('#left').css("background-image", "url(/static/monitor/heating.jpg)");
});
// 자동 버튼 클릭
$('.btn-auto').on('click', function setHeatImg(){
	$('.btn-manual').removeClass('sys-selected');
	$('.btn-auto').addClass('sys-selected');
	$('.btn-status').attr('disabled', true);
	$('.btn-status').removeClass('btn-default');
});
// 수동 버튼 클릭
$('.btn-manual').on('click', function setHeatImg(){
	$('.btn-auto').removeClass('sys-selected');
	$('.btn-manual').addClass('sys-selected');
	$('.btn-status').removeAttr('disabled');
	$('.btn-status').addClass('btn-default');
});


// 장비 스펙 표시
$('.device').on('click', function () {
	var dev = this.id;
	$('.left').addClass('show-spec');
	$('#spec-frame').css('display', 'block');
});

// 순환 펌프 설정
$('#cp-setting').on('click', function setCP() {
	$('.left').addClass('show-spec');
	$('#cp-setting-frame').css('display', 'block');
});




</script>
