<!DOCTYPE HTML>
<p style="text-align:center;"><b>기기 동작 내역</b></p>
<table class="table table-hover logs">
	<tr>
		<td>번호</td>
		<td style='text-align:left;'>위치</td>
		<td>전원</td>
		<td>시간</td>
	</tr>
	{% for log in switch_logs %}
	<tr>	
		<td>{{ log.id }}</td>
		<td style='text-align:left;'>{{ log.get_location_display }}</td>
		<td>{{ log.switch }}</td>
		<td>{{ log.dateTime|date:'Y-m-d H:i' }}</td>
	</tr>
	{% endfor %}
</table>
<div class="text-center">
	<ul class="pagination">
		<li><a href="" aria-label="Previous" class="page_index" id="prev">
			<span aria-hidden="true">&laquo;</span>
		</a></li>
		{% for i in page_range %}
			<li><a href="" class="page_index" id="{{ i }}">
				{% if i == selected %}
				<b>
				{% endif %}
					{{ i }}
				{% if i == selected %}
				</b>
				{% endif %}
			</a></li>
		
		{% endfor %}
		<li><a href="" aria-label="Next" class="page_index" id="next">
			<span aria-hidden="true">&raquo;</span>
		</a></li>
	</ul>
</div>

<script type="text/javascript">
// ajax log 페이지 이동
$('.page_index').on('click', function() {
	var selected = this.id;
	if(selected === "prev"){
		var cur_page = $(".pagination").find("b").first().text();
		selected = parseInt(cur_page) -10;
	}
	else if(selected === "next"){
		var cur_page = $(".pagination").find("b").first().text();
		selected = parseInt(cur_page) +10;
	}
	$.ajax({
		url: "/monitor/ajax_page_request/",
		type: "POST",
		// dataType: "json",
		data: {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'selected': selected,
		},
		success: function(data) {
			$('#right-log').html(data);
		}
	});
	return false;
});
</script>
