
.container {
	/*background-image: url("temp_backimg.jpg");*/
	/*background-color: white;*/
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	font-size: 15px;
}
/*############################ left #########################*/
.left-header {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 5%;
}

iframe {
	display: none;
	margin-top: 100px;
	margin-left: 300px;
	opacity: 1;
	background-color: #ffffe0;
	z-index: 124124;
}

.show-spec {
	background-blend-mode: screen;
	opacity: 0.5;
	z-index: -1;
}

.btn-opMode {
	float: right;
}
.sys-selected, .sys-selected:focus {
	background-color: #ffffe0;
}

.left {
	background-image: url("co.jpg");
	background-size: contain;
	background-color: #aaaaaa;
	float: left;			
	width: 70%;
	height: 100vh;
	padding: 1%;
	position: relative;
}
.left-table {
	display: inline-table;
	width: 130px;
	border: none;
	table-layout: fixed;
}
.left-table > thead > tr > td,
.left-table > tbody > tr > td {
	padding: 5px;
}

.left-table > thead {
	height: 50px;
}
.table {
	text-align: center;
	font-size: 13px;
}
.table-title {
	text-align: left;
}
.table-value {
	text-align: right;
}


a:hover {
	cursor: pointer; 
	text-decoration: none;
}
.device {
	color: black;
}

.first {
	position: absolute;
	top: 155px;
	left: 363px;
	height: 190px;
	width: 960px;
}
.heat-pump {
	width: 144px;
	height: 190px;
	margin-right: 11px;
	font-size: 15px;
	margin-bottom: 0;
}
.second {
	position: absolute;
	top: 404px;
	left: 132px;
	height: 208px;
}
.circulating-pump {
	width: 163px;
	height: inherit;
	font-size: 15px;
	margin-right: 55px;
}
.sec-2 {
	position: absolute;
	top: 410px;
	left: 355px;
	height: 208px;
	margin-right: 130px;
}
.flowmeter {
	top: 460px;
	width: 185px;
	height: 140px;
	margin-top: 60px;
}
.sec-3 {
	position: absolute;
	top: 410px;
	left: 700px;
	height: 208px;
}
.third{
	position: absolute;
	top: 900px;
	left: 60px;
	width: 1200px;
}

.btn-status{
	color: white;
}

.status-on, .status-on:focus {
	background-color: green;
	color: white;
}
.status-off, .status-off:focus {
	background-color: red;
	color: white;
}
.power {
	position: absolute;
	top: 0;
	width: 12%;
	float: right;
}

.tubular {
	margin-right: 5px;
}


/*############################ right #########################*/
.right {
	background-color: #ccddbb;
	float: right;
	width: 30%;
	height: 100vh;
}
/*########### r-floor ##########*/
.right-floor {
	background-color: #aabbcc;
	float: top;
	height: 50%;
	padding: 2%;
}

.alignleft {
	float: left;
	display: inline;
}

.alignright {
	float: right;
	display: inline;
}


.opMode {
	margin: 5px;
}
#div-btn-opMode {
	margin: 5px 5px 5px 0;
}

.slides {
	padding: 0;
}
.floor-nav {
	/*width: 100%; */
	position: relative; 
	/*bottom: -30px; */
	text-align: center;
	padding: 0;
}
.floor-nav > li {
	margin: 0 0 0 5px; 
	display: inline-block; 
	zoom: 1; 
	*display: inline;
}
.floor-nav > li:first-child {
	margin: 0;
}
.floor-nav > li > a {
	/*width: 13px; 
	height: 13px; */
	display: block; 
	cursor: pointer; 
	text-decoration: none;
	/*text-indent: -9999px;*/
}
/*
.floor-nav > li > a:hover {
}
.floor-nav > li > a.active {
	cursor: default;
}
*/
/*########### r-log ##########*/
.right-log {
	background-color: #ccbbaa;
	float: bottom;
	height: 50%;
	padding: 2%;
}


.pagination {
	margin: 5px 0 15px;
}

.pagination > li > a, .pagination > li > span {
	background-color: inherit;
}

